# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
.env
ip_whitelist

.DS_store
.env

# Generated code
.MIGRATIONS/migrations_completed
.MIGRATIONS/migrations_completed_dev
*_generated.go
*_generated.json
models.json
ip_whitelist
config.json
config-dev.json
cms_template_go_v2